.hero {

    &__image {

        @include breakpoint-up(medium) {
            position: relative;
            background-image: url('/img/hero-img/hero-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 27rem;
        }

        @include breakpoint-down(small)
        {
            position: relative;
            background-image: url('/img/hero-img/hero-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 17rem;
        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('/img/hero-img/Component\ 1\ –\ 1@2x.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            top: 20%;
            left: 0%;
            
        }

    }
}