.hero {
    margin-bottom: 7.375rem;

    @include breakpoint-down(medium){
        margin-bottom: 2rem;
    }

    &__image {

        @include breakpoint-up(medium) {
            position: relative;
            background-image: url('/img/hero-img/hero-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 35rem;
        }

        @include breakpoint-down(small)
        {
            position: relative;
            background-image: url('/img/hero-img/hero-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 17rem;
        }

        &::before {
            content: "";
            position: absolute;
            height: 110%;
            width: 100%;
            background-image: url('/img/hero-img/Component\ 1\ –\ 1@2x.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            top: 70px;
            left: 0%;
            
        }

    }
}