.segment {

    &--bgRed {
        background-color: $brightRed;
        //background-image: url('/img/angled@2x.png');
        //background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -20px;
        padding-bottom: 40px;
    }
    &--bgBlue {
        background-color: $darkBlue;
        //background-image: url('/img/angledBlue@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &--footerBlue {
        background-color: $footerBlue;
    }

    &__heading {
        
        padding-top: 45px;

        > p {
            font-size: $font-large;
            @include breakpoint-down(small) {
                padding-bottom: 3rem;
            }
        }

        @include breakpoint-up(large) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &__divider {
        padding-bottom: 10px;

        > h2 {
            width: 100%; 
            //text-align: center; 
            border-bottom: 1px solid #000; 
            line-height: 0.1em;
            margin: 10px 0 20px; 
        }
        
        &--w {
            > h2 span {
                padding:0 10px; 
                padding-right: 15px;
                background: white;
            }
        }

        &--r {
            > h2 span {
                padding:0 10px; 
                padding-right: 15px;
                background: $brightRed;
            }
        }
        &--c {
            text-align: center;
        }

    }

    &__grid { 

        @include breakpoint-up(large){
            display: flex;
            justify-content: center;
        }

    }

    &__fbox {
        flex: 1;
        @include breakpoint-up(large)
        {
            max-width: 465px;
            padding-top: 30px;
            font-size: $font-large;
        }

        @include breakpoint-down(medium) {
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
        }

        &--mw {
            //max-width: 100%;
            font-size: $font-large;

        }

        &--spider {
            > img {
                height: 600px;
                position: relative;
                bottom: 6%;
            }

        }

    }

    // Mew Card Styles

    &__card {
        border: 1px solid black;
        margin: 25px;
        flex: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.60);

        @include breakpoint-down(medium){
            margin-bottom: 60px;
        }
        @include breakpoint-up(large) {
            max-width: 280px;
            margin-bottom: 3rem;
            &:not(:last-child){
                margin-right: 5rem;
              }
        }
    }

    &__img {
        display: flex;
        width: 100%;
        height: 200px;
        background-color: $cardBlue;
        border-bottom: 1px solid black;
        justify-content: center;
        > img {
            position: relative;
        }
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
        //margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: $font-med;
    }

    &__name {
        border-top: 1px solid black;
        padding: 10px;
        text-align: center;
        background-color: $cardBlue;
        font-size: $font-large;
        //font-weight: 600;
    }



}
