html {
    font-size: 100%;
    box-sizing: border-box;

}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Abel';
    font-size: 1.125rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 100;
    font-family: 'avengeance_heroic_avengerIt';
    letter-spacing: 0.015em;
}

.container {
    max-width: 75rem;
    margin: 0 auto;

    &--pall{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--py {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--pt {
        padding-top: 2.25rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 2.25rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }

}

// Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
