// Colors

$brightRed: #C23333; //background red
$darkBlue:#488195; // background blue
$footerBlue: #42778A; //footer blue

$capBlue: #0000FF; // captain america blue
$hulkGreen: 008000; // hulk green 
$ironRed: D40000; // ironman red


// Font Sizes

$font-sm: 1.125rem; // 18px
$font-med: 1.25rem; // 20px
$font-large: 1.5625rem; // 25px

// Font

@font-face {
    font-family: 'avengeance_heroic_avengerIt';
    src: url('/font/avengeance_heroic_avenger_at-webfont.woff2') format('woff2'),
         url('/font/avengeance_heroic_avenger_at-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}