.footer {

    flex:1;
    text-align: center;

    &__grid {
        @include breakpoint-up(large){
            display: flex;
            //align-items: center;
        }
    }

    &__item {
        padding-bottom: 15px;
        @include breakpoint-up(medium){
            min-width: 400px;
        }
    }

    &__copyright {
        font-size: $font-sm;
        padding: 5px;
        min-height: 30px;
    }


}